**/.terraform/*
*.md.tmp
*.mptfbackup
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*tfplan*
.DS_Store
.terraform.lock.hcl
.terraformrc
README-generated.md
avm.tflint.hcl
avm.tflint.merged.hcl
avm.tflint_example.hcl
avm.tflint_example.merged.hcl
avm.tflint_module.hcl
avm.tflint_module.merged.hcl
avmmakefile
crash.*.log
crash.log
examples/*/policy
terraform.rc
.avm
